#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tt {
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}

.sec_color {
  will-change: filter;
  transition: filter 300ms;
}
.sec_color:hover {
  color: #fbb4cc;
  filter: drop-shadow(0 0 1.2em #fbb4cc);
}
.sec_color.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.pink__gradient {
  background: #fbb4cc;
  filter: blur(10px);
  width: 30%;
  height: 10%;
}
.nv-bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.main-color {
  color: #5e16ec;
}
.dark-color {
  color: #221a27;
}
.bg-main-color {
  background-color: #221a27;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
