#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1b141f
}
::-webkit-scrollbar-thumb {
  background: #04fcff;
  border-radius: 10px;
}
.tt {
  filter: drop-shadow(2px 2px 0px #fe01ff) drop-shadow(-2px -2px 0px #04fcff);
}
.sec_color {
  will-change: filter;
  transition: filter 300ms;
}
.sec_color:hover {
  color: #04fcff;
  filter: drop-shadow(0 0 1.0em white);
}
.sec_color.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.pink__gradient {
  background: #fab4cc;
  filter: blur(10px);
  width: 30%;
  height: 10%;
}
.home {
  background-image: url("./assets/background.png");
}
.nv-bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-content {
  margin: 2%;
  margin-bottom: 3rem;
  width: 46%;
  min-width: 46%;
}
@media screen and (max-width: 800px) {
  .about-content {
    margin: 2%;
    margin-bottom: 3rem;
    width: 100%;
    min-width: 46%;
  }
}
.about-text {
  position: relative;
  top: -30px;
}
.sched {
  max-height: 90vh;
  width: auto;
  margin: auto;
}
.section {
  max-width: 100vw;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.section-title {
  font-size: 2em;
}
.btn:active,
.btn:hover {
  outline: 0;
}
.btn {
  background-color: #221a27;
  border-color: #fe01ff;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 300ms;
}
.btn:hover {
  background-color: #fe01ff;
  border-color: #fe01ff;
}
.faq-flex {
  width: 100vw;
  min-width: 250px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.faq-btn:focus {
  outline: none;
}
.spin-right {
  animation: spin-right 0.2s linear;
  animation-fill-mode: forwards;
}
@keyframes spin-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(0.125turn);
  }
}
.spin-left {
  animation: spin-left 0.2s linear;
}
@keyframes spin-left {
  from {
    transform: rotate(0.125turn);
  }
  to {
    transform: rotate(0deg);
  }
}
.socials {
  color: #646cffaa;
}
.motto {
  will-change: filter;
  transition: filter 300ms;
}
.motto:hover {
  filter: drop-shadow(5px 5px 10px yellow);
}
.main-color {
  color: #fe01ff;
}
.dark-color {
  color: #221a27;
}
.bg-main-color {
  background-color: #221a27;
}
.cohostContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
.cohost {
  flex: 0 0 auto;
}
.cohost .img {
  max-width:max-content;
}