.ocean {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #221a27;
  margin: 0 auto;
}

.wave {
  background: url(./assets/wave1.png) repeat-x;
  position: absolute;
  bottom: 0;
  width: 6400px;
  height: 100vh;
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite,
    swell 7s ease -1.25s infinite;
  transform: translate3d(0, 0, 0);
}

.wave2 {
  background: url(./assets/wave2.png) repeat-x;
  position: absolute;
  bottom: -50px;
  width: 6400px;
  height: 100vh;
  animation: wave2 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite,
    swell2 7s ease -1.25s infinite;
  transform: translate3d(0, 0, 0);
}

.wave3 {
  background: url(./assets/wave3.png) repeat-x;
  position: absolute;
  bottom: -175px;
  width: 6400px;
  height: 100vh;
  animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite,
    swell3 7s ease -1.25s infinite;
  transform: translate3d(0, 0, 0);
}
.wave4 {
  background: url(./assets/wave4.png) repeat-x;
  position: absolute;
  bottom: -400px;
  width: 6400px;
  height: 100vh;
  animation: wave2 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite,
    swell4 7s ease -1.25s infinite;
  transform: translate3d(0, 0, 0);
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes wave2 {
  0% {
    margin-left: -1600px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -50px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes swell2 {
  0%,
  100% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 30px, 0);
  }
}
@keyframes swell3 {
  0%,
  100% {
    transform: translate3d(0, -40px, 0);
  }
  50% {
    transform: translate3d(0, 60px, 0);
  }
}
@keyframes swell4 {
  0%,
  100% {
    transform: translate3d(0, 0px, 0);
  }
  50% {
    transform: translate3d(0, 80px, 0);
  }
}
